*{
    padding: 0;
    margin: 0;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
.fix-width{
    width: 1100px;
    margin: auto;
}
 .text-center{
    text-align: center;
 }
 .text-right{
    text-align: right;
 }
 ul{
    padding: 0;
    margin: 0;
 }
 /* header section */
 .header{
    background-color: #000000;
    
 }
 .logo{
    float: left;
    width: 40%;
 }
 .img img{
    width: 60px;
    padding: 10px 0px 0px 0px;
 }
 .header-menu{
    float: left;
    width: 60%;
 }
 .header-menu i{
    color: #fff;
    font-size: 17px;
 }
 .header-menu ul{
    list-style: none;
 }
 .header-menu ul li{
    display: inline-block;
    position: relative;
    transition: .8s;
 }
 .header-menu ul li a{
     text-decoration: none;
     display: inline-block;
     padding: 10px 20px;
     font-size: 25px ;
     text-transform: capitalize;
     color: #fff;
     position: relative;
 }
 .header-menu ul li a::before{
    content: "";
    position: absolute;
    top: 35px;
    left: 8px;
    height: 3px;
    width: 0%;
    background-color: #fff;
    margin: 0px 10px ;
    transition: .8s;
 }
 .header-menu ul li a:hover::before{
    width: 67%;
        
 }
 .header-menu ul li ul.menu{
    position: absolute;
    left:18px;
    top:107%;
    background-color:black;
    width: 110px; 
    opacity: 0;
    visibility: hidden;
    transition: .8s;
     transform-origin: center;
     border-top: 1px solid #ffff;
 }
 .header-menu ul li:hover > ul.menu{
    background-color: black;
    visibility: visible;
    opacity: 1;
    top:107%;
    
   
 }

 .header-menu ul li ul.menu li{
    display: block;
    padding: 0px 5px;
    transition: .8s;
    
 }
 .header-menu ul li ul.menu li:hover{
    background-color: #fff;
    border-top: 1px solid black;
    
 }
 .header-menu ul li ul.menu li a{
    display: inline-block;
 }
 .header-menu ul li ul.menu li a:hover{
    color: black;
 }
 /* banner section */
 .banner{
    background-image: url(.//allimage/a0c6042d4612d7adf44692fffac7e082.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 138px 0px 0px 0px;
    height: 350px;
 }
 .banner h1{
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    padding: 10px 0px;
 }
 .banner h5{
    font-family: 'Noto Sans', sans-serif;
    padding: 10px 0px;
    font-weight: 700;
    font-size: 16px;
 }
 .banner .btn{
    text-decoration: none;
    background-color: black;
    color: #fff;
    padding: 15px 30px;
    display: inline-block;
    border-radius: 12px;
    border: 1px solid rgb(18, 15, 15);
    transition: .8s;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
 }
 .banner .btn:hover{
    background-color: #fff;
 }
 .banner .btn:hover{
    color: black;
 }
 .banner .btn2{
    background-color: #fff;
    color: black;
    border: none;
    margin: 20px 0px 0px 20px;
 }
 .banner .btn2:hover{
    background-color: black;
    color: #fff;
 }
 /* about swection */
 .about-section{
      background-color: #87a471;
      padding-bottom: 30px;
 }
.about-section .h2 h2{
    padding: 20px 0px 0px 0px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    text-transform: capitalize;
    color: #fff;
    border-bottom: 2px solid;
    display: inline-block;
    text-transform: uppercase;
}
.about-section .about-left{
    float: left;
    width: 40%;
    margin: 110px 0px 0px 130px;
}
.about-section .about-right{
    float: right;
    width: 30%;
    margin: 25px 48px 0px 0px;
}
.jillur-img img{
    width: 250px;
}
.servic{
    background-color: #606a64;
    height: 550px;
}
.servic h1{
    display: inline-block;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    padding: 50px 0px 3px 0px;

}
.servic .div1{
    width: 600px;
    margin: auto;
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
}
.servic h3{
    padding: 20px 0px 22px 0px;
    text-transform: capitalize;
}
.servic .servic1{
   width: 25%;
   float: left;
   background-color: #fff;
   padding: 30px 10px 30px 10px;
   box-shadow: 1px 1px 5px 1px rgb(246, 239, 239);
   border-radius: 10px;
   margin: 70px 0px 0px 60px;
}

.servic .servic1 .img1 img{
   float: left;
   width: 35px;
}
.servic .servic1 h3{
   margin: 0px 0px 0px 49px;
   padding: 0px 0px 18px 0px;
}
.servic .servic1 p{
   margin: 0px 0px 0px 48px;
}
.servic .servic2{
   float: left;
   width: 25%;
   margin: 70px 70px 0px 65px;
}
.servic .servic3{
   float: left;
   width: 25%;
   margin: 70px 0px 0px 0px;
}
/* works section */
.works{
   background-color: #87a471;
   padding: 50px 0px;
   font-family: 'Noto Sans', sans-serif;
}
.work{
   color: #fff;
}

.works .work h1{
   padding: 30px 0px;
}
.works .work p{
   padding: 0px 0px 60px 0px;
}
.works-left{
   float: left;
   width: 40%;
   border: 1px solid rgb(248, 245, 245);
   margin: 0px 0px 0px 130px;
   padding-bottom: 10px;
   color: #fff;
  
}
.works-right{
   float: left;
   width: 40%;
   border: 1px solid rgb(251, 247, 247);
   margin: 0px 0px 0px 50px;
   padding-bottom: 10px;
   color: #fff;
}
.works img{
   width: 439px; 
}
.works-right p{
   padding: 10px 0px ;
   color: #5e7980;
}
.works-left p{
   padding: 10px 0px ;
   color: #5e7980;
}
.work1 img{
   width: 200px;
}
.work2 img{
   width: 200px;
}
.work3 img{
   width: 200px;
}
.work4 img{
   width: 200px;
}

.work1 img{
   width: 200px;
}
.work1{
  width: 20%;
  float: left;
  margin: 50px 0px 0px 128px;
  
}
.work2{
   float: left;
   margin: 50px 0px 0px 22px;
}
.work3{
   margin:50px 0px 0px 52px;
   float: left;
}
.work4{
   float:left;
   margin: 27px 0px 0px 69px;
}
/* teem section */
.our-teem{
   background-color: #5b9776;
   padding-bottom: 40px;
}
.our-teem .teem-h1 h1{
   text-transform: uppercase;
   font-family: 'Noto Sans', sans-serif;
   padding: 66px 0px 0px 0px ;
   color: #fff;
   display: inline-block;
   border-bottom: 2px solid #fff;
   
}
.our-teem .teem1{
   float: left;
   width: 25%;
   margin: 50px 0px 0px 166px;
}
.our-teem .teem2{
   float: left;
   width: 25%;
   margin: 50px 0px 0px 36px;
}
.our-teem .teem3{
   float: left;
   width: 25%;
   margin: 50px 0px 0px 30px;
}
.our-teem .teem1 img{
   width: 250px;
}
.our-teem .teem2 img{
   width: 250px;
}
.our-teem .teem3 img{
   width: 250px;
}
/* icon */
.icon{}
.icon ul{
   list-style: none;
   text-align: center;
}
.icon ul li{
   display: inline-block;
}
.icon ul li a{
   display: inline-block;
   font-size: 25px;
   padding: 10px 8px;
   transition: .8s;
   line-height: 40px;
   color: #fff;
   
}
.icon ul li a:hover{
   color: #606a64;
  
} 
 /* footer section */
 .footer{
   background-color: #606a64;
   padding: 80px 0px;
   color: #fff;
   font-family: 'Noto Sans', sans-serif;
 }
 .footer-contact{
   width: 600px;
   margin: auto;
   font-family: 'Noto Sans', sans-serif;
   
 }
.footer-contact h3{
   font-size:  30px;
   padding: 40px 0px 20px 0px;
}
.footer-contact p{
   padding:20px 0px ;
}
.footer-contact a.btn{
   text-decoration: none;
   padding: 12px 25px;
   display: inline-block;
   background-color: #00bc9c;
   color: #fff;
   border-radius: 5px;
   transition: .8s;
}
.footer-contact a.btn:hover{
   background-color: #fff;
   color: black;
}
.copy-right{
   background-color: black;
}
.copy{
   color: #fff;
   padding: 10px 0px;
}